/* body {
    background-color: blue;
}

@media (min-width: 600px){
    body{
        background-color: red;
    }
}
@media (min-width: 900px){
    body{
        background-color: green;
    }
} */

body{
    background-color: lightpink;

}
nav{
    border: burlywood 2px solid;
    display: flex;
}

@media screen and (min-width: 600px){
    nav{
        border: burlywood 2px solid;
        display: flex;
        margin: 10px;
        text-align: center;
        margin: 10px;
        flex-direction: column;
    }
    body{
        display: grid;
        grid-template-columns: 1fr 2fr;
    }
}