.Better_Notes{
    text-align: center;
    font-family: 'Sono', sans-serif;
    color: #5394A0;
}

.main_section{
    background-color: #EDDDD0;
    height: 100vh;
    order: 2;
}

.aside_h2{
    color: #5394A0;
    font-family: 'Sono', sans-serif;
    text-align:center;
}

.list{
    color: #5394A0;
    font-family: 'Sono', sans-serif;
    list-style: square;
}

.footer_h1{
    text-align: center;
    font-family: 'Sono', sans-serif;
    color: #5394A0;
    padding-top: 25px;
}

.images{
    background-color: transparent;
    display: flex;
    justify-content: center;
}

.nav-container{
    list-style: none;
    display: flex;
    justify-content:flex-end;
    color: #5394A0;
}

.flex-item{
    padding: 12px;
}

main{
    display: grid;
    grid-template-columns: 1fr 5fr;
}

aside{
    height: 100vh;
    background-color: #F9F3EC;
    order: 1;
}

.textbox{
    width: 96%;
    padding-bottom: 100px;
    padding-top: 20px;
    padding-left: 20px;
    border: 2px solid lightskyblue;
    margin: 10px;
    background-color: #F9F3EC;
}

.newnote_button{
    background-color: #5394A0;
    margin-left: 16px;
    margin-bottom: 12px;
    color: white;
    border-color: transparent; 

}

.darktheme_button{
    background-color: #6F6A87;
    margin-right: 16px;
    margin-bottom: 12px;
    color: white;
    border-color: transparent; 

}

button {
    padding: 10px;
    margin-top: 10px;
    border-radius: 5px; 
    -moz-border-radius: 5px; 
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
}

.flex-button1{
    display: flex;
    justify-content: space-between;
}

.spacing_list{
    position: relative;
    right: 10px; 
}

.save_button{
    background-color:  #5394A0;
    color: white;
    border-color: transparent; 
    margin-right: 12px;
}

.cancel_button{
    background-color: #D9827C;
    color: white;
    border-color: transparent; 
    margin: px;
}

.flex-button2{
    display: flex;
    justify-content: right;
    margin-right: 12px;
}

body{
    margin: 0%;
}

@media screen and (max-width:600px){
    
    main{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    aside{
        height: 130px;
        background-color: #F9F3EC;
        text-align: center;
        order: 2;
    }

    .textbox{
        width: 88%;
        padding-bottom: 100px;
        padding-top: 20px;
        padding-left: 20px;
        border: 2px solid skyblue;
        margin: 10px;
        background-color: #F9F3EC;
    }

    .nav-container{
        list-style: none;
        display: flex;
        justify-content:center;
        color: #5394A0;
    }

    .main_section{
        background-color: #EDDDD0;
        height: 85vh;
        order: 1;
    }

    .list{
        color: #5394A0;
        font-family: 'Sono', sans-serif;
        list-style: none;
    }

    .footer_h1{
        text-align: center;
        font-family: 'Sono', sans-serif;
        color: #5394A0;
        padding-top: 40px;
    }

    .images{
        display: flex;
        background-color: transparent;
        justify-content: center;
        padding: 30px;
        padding-top: 20px;
    }
}